body {background-color: #f8f0e5;}

#titulo {color: #ff66c4;}
h2 {color: #01a89e;}
p {background-color: rgb(253, 221, 246);
    color: rgb(51, 196, 196);}
h3 {color: #ff66c4;}
    #Cachorro {width: 25%;}
   .logo-slogan {background-color: #01a89e;}
    
